<script src="/js/jquery-3.2.1.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>

<script type="text/javascript">
 $(document).ready(ocultar_reg_area)
 $(document).ready(mostrar_reg_area)
 $(document).ready(agregar_respuesta_tabla)
 function ocultar_reg_area(){
   $('#reg_area').hide()
   $('#btn_reg_area').hide()
 }
 function mostrar_reg_area(){
   $('#mostrar_reg_area').on('click', function(){
	 $('#reg_area').slideDown(500)
	 $('#btn_reg_area').slideDown(600)
	 $('#hide_on_click').hide()
   })
   function agregar_respuesta_tabla(){
	 $('#bnt_reg_respuesta').on('click', function(){
	   var respuesta = $('#id_input_respuesta').val()
	   var nuevotr = document.createElement("TR")
	   var nuevotd = document.createElement("TD")
	   var textnode = document.createTextNode(respuesta)
	   nuevotd.appendChild(textnode)
	   nuevotr.appendChild(nuevotd)
	   $('#reg_respuestas').prepend(nuevotd)
	 })
   }
 }
</script>
<nav>
  <div class="nav-wrapper light-green darken-3">
	<a href="#" class="brand-logo center">Centro de Registro de Preguntas</a>
  </div>
</nav>  

<div class="container" style="margin-top:5%">
  <ul class="collapsible" data-collapsible="accordion">
	<li>
	  <div class="collapsible-header"><i class="material-icons">filter_drama</i>Agregar una Pregunta</div>
	  <div class="collapsible-body">
		<p>Mediante este formulario podra agregar "Preguntas" al banco de Preguntas de la base de datos. Cada pregunta tiene que tener por lo menos una "Respuesta".
		  Tenga en cuenta Complejidad y Area.
		</p>
        <div class="row">
          <form class="col s12" action="/Pregunta/create" method="POST" accept-charset="utf-8">
			<div class="row">
			  <div class="input-field col s5">
				<i class="material-icons prefix">mode_edit</i>
				<input id="i_pregunta" type="text" class="validate" name="pregunta">
				<label for="pregunta">Pregunta</label>
			  </div>
			  <div class="input-field col s7">
				<i class="material-icons prefix">present_to_all</i>
				<label for="imagen">Imagen</label> 
				<br>
				<br>
				<input id="i_imagen" type="file" name="imagen">
			  </div> 
			</div>
			<div class="row">
			  <div class="input-field col s8">
				<i class="material-icons prefix">mode_edit</i>
				<input id="i_descripsion" type="text" class="validate" name="pregunta_descripsion">
				<label for="descripsion">Descripsion</label>
			  </div>
			</div>
            <div class="row">
			</div>  
			<div class="row">
			  <div class="col s6">
				<label>Complejidad</label>
				<select class="browser-default" name="id_complejidad">
				  <option value="" disabled selected>Seleccione una Complejidad</option>
				  <%_.each(complejidad, function(c){%>
				  <option value="<%= c.id_complejidad%>"><%= c.complejidad%></option>
				  <%})%>
				</select>
				
			  </div>
			  <div class="col s6">
				<label>Temario</label>
				<select class="browser-default" name="id_temario">
				  <option value="" disabled selected>Seleccione el temario</option>
				  <%_.each(temario, function(t){%>
				  <option value="<%= t.id_temario%>"><%= t.temario%></option>
				  <%})%>
				</select>  
			  </div>
			</div>
			<div class="row">
			  <div class="input-field col s12">
				<button class="btn waves-effect waves-light green right" type="submit" name="registro">Registrar Pregunta
				</button>
			  </div>
			</div>  
          </form>
          <div class="row">
            <div class="col s12">
			  <form action="">
				<div id="respuestas">
				  <div class="row">
					<div class="input-field col s8">
					  <i class="material-icons prefix" >mode_edit</i>
					  <input type="text" name="respuesta" class="validate" id="id_input_respuesta"/>
					  <label for="respuesta">Respuesta de la pregunta</label>
					</div>
					<div class="col s2">
					  <button class="btn waves-effect waves-light green right" type="submit" name="registro" id="btn_reg_respuesta">
						<i class="material-icons">done</i>
					  </button> 
					</div>
				  </div> 
				</div> 
			  </form>
			  
			  <div>
				<table>
				  <thead>
					<tr>
					  <th></th>
					  <th></th>
					</tr>
				  </thead>
				  <tbody id="respuestas_reg">

				  </tbody>
				</table>
			  </div> 
			</div>
		  </div>
		</div>
	  </div>
	</li>
	<li>
	  <div class="collapsible-header"><i class="material-icons">place</i>Agregar un Temario</div>
	  <div class="collapsible-body"><span>Ingrese un nuevo temario</span>
		<div class="row">
          <form action="/Temario/create" class="col s12">
			<div class="row">
              <div class="input-field col s6">
				<i class="material-icons prefix">mode_edit</i>
				<input class="validate" type="text" name="temario" id="temario"/>
				<label for="temario">Registrar un nuevo temario</label>
			  </div>
              <div class="col s6">
				<label for="">Area</label> 
				<select name="id_area" id="id_area" class="browser-default">
                  <option value="" disabled selected>Selecione una Area</option>
				  <%_.each(area, function(a){ %>
				  <option  value="<%= a.id_area %>"><%= a.area %></option>
				  <%})%> 
				</select>
			  </div>
			</div>
			<br>
            <div class="row">
			  <div class="input-field col s12">
				<button class="btn waves-effect waves-light green right" type="subimt" name="registro" id="btn_reg_Temario">Registrar Temario</button>
			  </div>
			</div>
		  </form>
            <br>
            <br>
			<div class="row" id="hide_on_click">
              <div class="col s6">
				<p>Agregar nueva Area</p>
			  </div>
              <div class="col s6">
				<a class="btn-floating btn-large waves-effect waves-light green right" id="mostrar_reg_area">
				  <i class="material-icons">add</i></a> 
			  </div>
			</div>
            <div class="row" id="reg_area">
              <form action="/Area/create" class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <i class="material-icons prefix">mode_edit</i>
                    <input class="validate" type="text" name="req_area"/>
                    <label for="area">Registrar Area</label>
				  </div>
				</div>
				<div class="input-field col s12">
				  <button class="btn waves-effect waves-light green right" type="submit" name="registro" id="btn_reg_area">Registrar Area</button>
				</div> 
              </form>
			</div>
			<br>
		</div> 
	  </div>
	</li>
	<li>
	  <div class="collapsible-header"><i class="material-icons">whatshot</i>Agregar una Complejidad</div>
	  <div class="collapsible-body"><span>Registrar nueva complejidad</span>
		<div class="row">
		  <br><br><br>
		  <form class="col s12" action="/Complejidad/create" method="POST" accept-charset="utf-8">
			<div class="row">
			  <div class="input-field col s12">
				<i class="material-icons prefix">mode_edit</i>
				<input id="i_complejidad" type="text" class="validate" name="complejidad">
				<label for="i_complejidad">Complejidad</label>
			  </div>
			</div>
			<br>
			<br>
			<br>
			<div class="row">
			  <div class="input-field col s12">
				<button class="btn waves-effect waves-light green right" type="submit" name="registro">Registro grado de Complejidad
				</button>
			  </div>
			</div>
		  </form>
		</div> 
	  </div>
	</li>
  </ul>   
         
